body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.videoplayer {
  display: flex;
  flex-direction: column;
  width: 1080px;
  margin: 0;
  position: relative;
}

.mainControls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: hidden;
}