.container {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightControls {
  display: flex;
  flex-direction: row
}

.midControls {
  display: flex;
  flex-direction: row
}

.leftControls {
  display: flex;
  flex-direction: row
}